@import url(./reset.css);

/* Balises
========== */

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

/* Helpers
========== */

.flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.container {
    padding-inline: 2rem;
}

/* Header 
=========*/

.wrapper-header {
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
}

/* logo */

.header-logo {
    width: 5rem;
}

/* navigation */
.wrapper-header-nav {
    align-items: center;
    gap: 1rem;
}

ul li {
    font-weight: 700;
}

.active {
    color: hsla(115, 57%, 55%, 100%);
}

/* hero */

.wrapper-header-hero-overlay {
    min-height: 30rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-self: center;
}

.wrapper-header-hero {
    min-height: 30rem;
    width: 100%;
    background-image: url(../img/mito-header.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

/* Main 
======= */

.main-image {
    width: 100%;
}

.wrapper-item {
     justify-content: space-between;
}

.item {
    flex-direction: column;
    align-items: center;
}

.item-icon {
    width: calc(100% / 3);
}