@import url(./reset.css);

/* Balises
========== */

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
}

/* Helpers
========== */

.flex {
    display: flex;
}

.container {
    max-width: 90rem;
    margin-inline: auto;
}

/* Header 
=========*/

.wrapper-header {
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
}

/* logo */

.header-logo {
    width: 100%;
}
.header-logo {
    width: 5rem;
}

/* navigation */
.wrapper-header-nav {
    align-items: center;
    gap: 1rem;
}

/* hero */

.wrapper-header-hero-overlay {
    min-height: 30rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper-header-hero {
    min-height: 30rem;
    width: 100%;
    background-image: url(../img/mito-header.jpeg);
    background-size: cover;
}